{% extends "base.html" %} {% block title %}Programs - Madhuban{% endblock %} {%
block content %}
<section class="programs-section">
  <div class="container">
    <h2>Our Programs</h2>
    <div class="programs-grid">
        <div class="program-card">
        <h3>Special Care</h3>
        <p>Daycare for intellectually disabled children.</p>
      </div>
      <div class="program-card">
        <h3>Fully Equipped</h3>
        <p>
          All facilities are available for residential intellectually disabled
          children at Madhuban Institute.
        </p>
      </div>
      <div class="program-card">
        <h3>Hostels</h3>
        <p>
          Hostel for mentally retarded children, separate hostels for boys and
          girls.
        </p>
      </div>
      <div class="program-card">
        <h3>Engagging Activities</h3>
        <p>
          Physiotherapy, yoga, meditation, laughter club and speech therapy
          available, continuous counseling.
        </p>
      </div>
      <div class="program-card">
        <h3>Medical Support</h3>
        <p>
          Health check-ups and specialized medical assistance for our
          beneficiaries.
        </p>
      </div>
      <div class="program-card">
        <h3>Rehabilitation</h3>
        <p>
          Physical therapy and rehabilitation services for adults and children.
        </p>
      </div>
      <div class="program-card">
        <h3>Workshops</h3>
        <p>Workshops for adults.</p>
      </div>
      <div class="program-card">
        <h3>Skill Development</h3>
        <p>
          Training and vocational programs to empower differently-abled
          individuals.
        </p>
      </div>
      <div class="program-card">
        <h3>Awareness Programs</h3>
        <p>
          Workshops and campaigns to raise awareness about disabilities in
          society.
        </p>
      </div>
      <div class="program-card">
        <h3>Special Education</h3>
        <p>
          Providing tailored education programs for children with disabilities.
        </p>
      </div>
      <div class="program-card">
        <h3>Holistic Development</h3>
        <p>
          Efficient for the overall development of intellectually and multiply
          disabled individuals.
        </p>
      </div>
      <div class="program-card">
        <h3>Old-age Group</h3>
        <p>Caring for senior citizens and disabled people.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
